#Folders
Project/.idea
Project/.gradle
Project/gradle
Graphics/

#Files
Project/build.gradle
Project/settings.gradle
Project/gradle.properties
Project/local.properties
Project/Project.iml
Project/gradlew
Project/gradlew.bat
