#Folders
MovieChecker/.idea
MovieChecker/.gradle
MovieChecker/gradle
Graphics/

#Files
MovieChecker/build.gradle
MovieChecker/settings.gradle
MovieChecker/gradle.properties
MovieChecker/local.properties
MovieChecker/MovieChecker.iml
MovieChecker/gradlew
MovieChecker/gradlew.bat
