#Folders
.vs/
MovieChecker Desktop/obj/
MovieChecker Desktop/bin/
packages/
MovieChecker Python/.idea/

#Files
MovieChecker.sln
MovieChecker Desktop/packages.config
MovieChecker Desktop/MovieChecker Desktop.csproj
